/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Nerdy secret: You can use "less" below! Don't tell anybody... */

.github-profile {
    margin: 1rem;
}

.github-profile > img {
    width: 75px;
}

.github-profile > .info {
    display: inline-block;
    margin-left: 12px;
}

.github-profile > .name {
    font-size: 1.25rem;
    font-weight: bold;
}

form {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}